<h2>Комбинирование нескольких потоков данных</h2>
<p>У вас есть два потока данных: один представляет собой поток кликов мыши по HTML элементу, а другой - поток данных с сервера (может быть, как реальный запрос, так и эмуляция). Напишите программу, которая комбинирует данные из обоих потоков и выполняет какие-то действия при каждом обновлении любого из них (к примеру, выводит объединённую информацию в консоль).</p>

<hr>

<h3><em>See console to view results</em></h3>

<div>
  <button #clickable>Click me!</button>
</div>