<h2>Мониторинг активности в чате</h2>
<p>Вам предстоит разработать механизм мониторинга активности пользователей в чате. Цель - выводить сообщения о том, когда пользователи активны и неактивны.<br>Вы должны создать систему, которая будет отслеживать действия пользователей в чате. Когда пользователь начинает печатать сообщение, его статус должен измениться на "активный", а если пользователь не проявляет активность в течение 5 минут, его статус должен измениться на "неактивный".
<br>Вам необходимо создать и использовать потоки данных для отслеживания действий пользователей и их активности. После этого вы должны преобразовать эти потоки, чтобы получить сообщения о статусе активности пользователей в удобном формате и вывести эти сообщения в консоль.</p>

<hr>

<h3><em>See console to view results</em></h3>

<div>
  <app-users-chat></app-users-chat>
  <app-users-chat></app-users-chat>
  <app-users-chat></app-users-chat>
</div>
