<h2>Работа с асинхронными операциями</h2>
<p>У вас есть поток данных, представленный Observable, который делает асинхронный HTTP-запрос к серверу для получения данных. Напишите программу, которая отменяет запрос, если пользователь не активен в течение определенного времени (один из вариантов определения наличия активности пользователя – наличия движения мышкой).</p>

<hr>

<h3><em>See console to view results</em></h3>

<div>
  <button (click)="newRequest()">New request</button>
  <button (click)="newLongRequest()">New long request</button>
</div>